Repository liferay/liferay-npm-tools, pull requests merged in 2019-06, with the labels that each got.

#96 feat: replace check-source-formatting with prettier (#93)
  packages/liferay-npm-scripts/__tests__/scripts/theme.js
  packages/liferay-npm-scripts/__tests__/scripts/webpack.js
  packages/liferay-npm-scripts/__tests__/utils/spawn-sync.js
  packages/liferay-npm-scripts/__tests__/utils/spawnSync.js
  packages/liferay-npm-scripts/bin/liferay-npm-scripts.js
  packages/liferay-npm-scripts/package.json
  packages/liferay-npm-scripts/src/config/prettier.json
  packages/liferay-npm-scripts/src/presets/standard/index.js
  packages/liferay-npm-scripts/src/scripts/build.js
  packages/liferay-npm-scripts/src/scripts/lint.js
  packages/liferay-npm-scripts/src/scripts/test.js
  packages/liferay-npm-scripts/src/scripts/theme.js
  packages/liferay-npm-scripts/src/scripts/webpack.js
  packages/liferay-npm-scripts/src/utils/get-merged-config.js
  packages/liferay-npm-scripts/src/utils/get-user-config.js
  packages/liferay-npm-scripts/src/utils/log.js
  packages/liferay-npm-scripts/src/utils/set-env.js
  packages/liferay-npm-scripts/src/utils/soy.js
  packages/liferay-npm-scripts/src/utils/spawn-sync.js
  yarn.lock
Labels: liferay-npm-scripts

#99 doc: recommend using a recent version of NodeJS
  README.md
Labels: documentation

#100 chore: keep Markdown and JSON files formatted by Prettier
  CONTRIBUTING.md
  package.json
  packages/liferay-jest-junit-reporter/README.md
  packages/liferay-npm-bundler-preset-liferay-dev/README.md
  packages/liferay-npm-bundler-preset-liferay-dev/config.json
Labels: chore

#101 feat: provide a way to skip linting/formatting entirely
  packages/liferay-npm-scripts/README.md
  packages/liferay-npm-scripts/__tests__/scripts/lint.js
  packages/liferay-npm-scripts/src/scripts/lint.js
Labels: feature, liferay-npm-scripts

#103 feat: expand lint/format globs to cover "test" (#95)
  packages/liferay-npm-scripts/src/presets/standard/index.js
Labels: feature, liferay-npm-scripts

#111 refactor(scripts)!: rename "lint"/"format" to "check"/"fix" (#110)
  packages/liferay-npm-scripts/README.md
  packages/liferay-npm-scripts/__tests__/scripts/check.js
  packages/liferay-npm-scripts/src/index.js
  packages/liferay-npm-scripts/src/presets/standard/index.js
  packages/liferay-npm-scripts/src/scripts/check.js
  packages/liferay-npm-scripts/src/scripts/fix.js
Labels: liferay-npm-scripts, refactor

#115 refactor: rename files to match naming conventions (#107)
  packages/liferay-jest-junit-reporter/package.json
  packages/liferay-jest-junit-reporter/src/index.js
  packages/liferay-jest-junit-reporter/test/__snapshots__/index.js.snap
  packages/liferay-jest-junit-reporter/test/index.js
  packages/liferay-npm-scripts/bin/liferay-npm-scripts.js
  packages/liferay-npm-scripts/package.json
  packages/liferay-npm-scripts/src/scripts/build.js
  packages/liferay-npm-scripts/src/scripts/check.js
  packages/liferay-npm-scripts/src/scripts/test.js
  packages/liferay-npm-scripts/src/scripts/theme.js
  packages/liferay-npm-scripts/src/scripts/webpack.js
  packages/liferay-npm-scripts/src/utils/deepMerge.js
  packages/liferay-npm-scripts/src/utils/generateSoyDependencies.js
  packages/liferay-npm-scripts/src/utils/getMergedConfig.js
  packages/liferay-npm-scripts/src/utils/getUserConfig.js
  packages/liferay-npm-scripts/src/utils/move-to-temp.js
  packages/liferay-npm-scripts/src/utils/moveToTemp.js
  packages/liferay-npm-scripts/src/utils/removeFromTemp.js
  packages/liferay-npm-scripts/src/utils/setEnv.js
  packages/liferay-npm-scripts/src/utils/soy.js
  packages/liferay-npm-scripts/src/utils/spawnSync.js
  packages/liferay-npm-scripts/src/utils/withBabelConfig.js
  packages/liferay-npm-scripts/test/index.js
  packages/liferay-npm-scripts/test/scripts/check.js
  packages/liferay-npm-scripts/test/scripts/theme.js
  packages/liferay-npm-scripts/test/scripts/webpack.js
  packages/liferay-npm-scripts/test/utils/deepMerge.js
  packages/liferay-npm-scripts/test/utils/getMergedConfig.js
  packages/liferay-npm-scripts/test/utils/spawnSync.js
Labels: liferay-jest-junit-reporter, liferay-npm-scripts, refactor

#116 chore: remove sort-keys dependency
  packages/liferay-npm-scripts/package.json
  packages/liferay-npm-scripts/src/utils/getMergedConfig.js
  yarn.lock
Labels: chore, liferay-npm-scripts

#119 feat(scripts): equip ESLint to handle new ES features + JSX (#118)
  packages/liferay-npm-scripts/package.json
  packages/liferay-npm-scripts/src/config/eslint.config.js
  yarn.lock
Labels: feature, liferay-npm-scripts

#121 feat(scripts): make it possible to target "*.es.js" alone
  packages/liferay-npm-scripts/__fixtures__/scripts/lint/modules/.eslintignore
  packages/liferay-npm-scripts/__fixtures__/scripts/lint/modules/apps/frontend-js/frontend-js-aui-web/.eslintignore
  packages/liferay-npm-scripts/__fixtures__/scripts/lint/modules/apps/frontend-js/frontend-js-web/.gitignore
  packages/liferay-npm-scripts/__fixtures__/scripts/lint/modules/apps/rogue/project/yarn.lock
  packages/liferay-npm-scripts/__fixtures__/scripts/lint/modules/apps/segments/segments-web/.eslintignore
  packages/liferay-npm-scripts/__fixtures__/scripts/lint/modules/yarn.lock
  packages/liferay-npm-scripts/__fixtures__/scripts/lint/somewhere/subtree/with/a/lock/file/.gitignore
  packages/liferay-npm-scripts/__fixtures__/scripts/lint/somewhere/subtree/yarn.lock
  packages/liferay-npm-scripts/src/presets/standard/index.js
  packages/liferay-npm-scripts/src/scripts/lint.js
  packages/liferay-npm-scripts/test/scripts/lint.js
Labels: feature, liferay-npm-scripts

#122 feat: drop "root: true" from eslint config
  packages/liferay-npm-scripts/src/config/eslint.config.js
Labels: feature, liferay-npm-scripts

#124 feat(scripts)!: drop `--no-eslintrc` from invocation
  packages/liferay-npm-scripts/src/scripts/lint.js
Labels: feature, liferay-npm-scripts

#123 feat(scripts): add some globals to the default list
  packages/liferay-npm-scripts/src/config/eslint.config.js
Labels: feature, liferay-npm-scripts

#126 chore: update eslint-config-liferay to v4.0.0
  package.json
  packages/liferay-npm-scripts/package.json
  yarn.lock
Labels: chore, liferay-npm-scripts

#125 feat(scripts): teach "lint" to use "node" env for config files
  packages/liferay-npm-scripts/src/config/eslint.config.js
Labels: feature, liferay-npm-scripts

#127 feat(preset): add shared @clayui and react packages
  packages/liferay-npm-bundler-preset-liferay-dev/config.json
Labels: feature, liferay-npm-bundler-preset-liferay-dev

#129 feat(scripts): make "check" and "fix" do linting and formatting
  packages/liferay-npm-scripts/src/index.js
  packages/liferay-npm-scripts/src/scripts/check.js
  packages/liferay-npm-scripts/src/scripts/fix.js
  packages/liferay-npm-scripts/src/scripts/format.js
  packages/liferay-npm-scripts/src/utils/spawnMultiple.js
  packages/liferay-npm-scripts/test/scripts/format.js
  packages/liferay-npm-scripts/test/utils/spawnMultiple.js
Labels: feature, liferay-npm-scripts

#130 feat(scripts): tweak lint config for use in IDEs
  packages/liferay-npm-scripts/src/config/eslint.config.js
Labels: feature, liferay-npm-scripts

#132 chore(scripts): update eslint-config-liferay dep to v4.1.0
  package.json
  packages/liferay-jest-junit-reporter/test/__snapshots__/index.js.snap
  packages/liferay-jest-junit-reporter/test/index.js
  packages/liferay-npm-scripts/package.json
  packages/liferay-npm-scripts/src/config/eslint.config.js
  yarn.lock
Labels: chore, liferay-jest-junit-reporter, liferay-npm-scripts

#134 chore(scripts): update eslint-config-liferay dep to v4.1.1
  package.json
  packages/liferay-npm-scripts/package.json
  yarn.lock
Labels: chore, liferay-npm-scripts
