Repository liferay/liferay-npm-tools, pull requests merged in 2019-10, with the labels that each got.

#281 feat(scripts): support "export namespace from" in Babel
  packages/liferay-npm-scripts/package.json
  packages/liferay-npm-scripts/src/config/babel.json
  yarn.lock
Labels: feature, liferay-npm-scripts

#282 docs(publish): fix typo "prepape" -> "prepare"
  packages/liferay-js-publish/README.md
Labels: documentation, liferay-js-publish

#285 fix(scripts): use canonical plugin name format
  packages/liferay-npm-scripts/src/config/babel.json
Labels: bug, liferay-npm-scripts

#286 feat(scripts): check bundled Babel config file for validity
  packages/liferay-npm-scripts/test/config/babel.json.js
Labels: feature, liferay-npm-scripts

#288 refactor(scripts): use rimraf API directly (#284)
  packages/liferay-npm-scripts/src/scripts/build.js
  packages/liferay-npm-scripts/src/utils/soy.js
Labels: liferay-npm-scripts, refactor

#287 fix(scripts): disables useStrict in commonjs transform by default
  packages/liferay-npm-scripts/src/config/babel.json
Labels: bug, liferay-npm-scripts

#290 feat(scripts): update preset to latest (v2.1.0)
  packages/liferay-npm-scripts/package.json
Labels: feature, liferay-npm-scripts

#253 feat: activate JSP formatting as part of standard formatting runs
  packages/liferay-npm-scripts/__fixtures__/format/details.jsp
  packages/liferay-npm-scripts/__fixtures__/format/edit_public_render_parameters.jsp
  packages/liferay-npm-scripts/__fixtures__/format/page_iterator.jsp
  packages/liferay-npm-scripts/__fixtures__/format/source.jsp
  packages/liferay-npm-scripts/src/format/Lexer.js
  packages/liferay-npm-scripts/src/format/dedent.js
  packages/liferay-npm-scripts/src/format/formatJSP.js
  packages/liferay-npm-scripts/src/format/index.js
  packages/liferay-npm-scripts/src/format/isJSP.js
  packages/liferay-npm-scripts/src/format/restoreTags.js
  packages/liferay-npm-scripts/src/format/substituteTags.js
  packages/liferay-npm-scripts/src/format/tagReplacements.js
  packages/liferay-npm-scripts/src/format/toFiller.js
  packages/liferay-npm-scripts/src/index.js
  packages/liferay-npm-scripts/src/presets/standard/index.js
  packages/liferay-npm-scripts/src/scripts/format.js
  packages/liferay-npm-scripts/src/utils/getMergedConfig.js
  packages/liferay-npm-scripts/test/format/Lexer.js
  packages/liferay-npm-scripts/test/format/__snapshots__/formatJSP.js.snap
  packages/liferay-npm-scripts/test/format/__snapshots__/lex.js.snap
  packages/liferay-npm-scripts/test/format/__snapshots__/substituteTags.js.snap
  packages/liferay-npm-scripts/test/format/dedent.js
  packages/liferay-npm-scripts/test/format/formatJSP.js
  packages/liferay-npm-scripts/test/format/isJSP.js
  packages/liferay-npm-scripts/test/format/lex.js
  packages/liferay-npm-scripts/test/format/restoreTags.js
  packages/liferay-npm-scripts/test/format/substituteTags.js
  packages/liferay-npm-scripts/test/format/tagReplacements.js
  packages/liferay-npm-scripts/test/format/toFiller.js
  packages/liferay-npm-scripts/test/scripts/format.js
  packages/liferay-npm-scripts/test/utils/getMergedConfig.js
Labels: feature, liferay-npm-scripts

#293 feat(scripts)!: update eslint-config-liferay v11.1.1
  package.json
  packages/liferay-changelog-generator/src/index.js
  packages/liferay-jest-junit-reporter/src/index.js
  packages/liferay-jest-junit-reporter/test/index.js
  packages/liferay-js-insights/index.js
  packages/liferay-js-insights/insights/dependencies.js
  packages/liferay-npm-scripts/bin/liferay-npm-scripts.js
  packages/liferay-npm-scripts/package.json
  packages/liferay-npm-scripts/src/format/Lexer.js
  packages/liferay-npm-scripts/src/format/formatJSP.js
  packages/liferay-npm-scripts/src/format/lex.js
  packages/liferay-npm-scripts/src/format/restoreTags.js
  packages/liferay-npm-scripts/src/format/stripIndents.js
  packages/liferay-npm-scripts/src/scripts/build.js
  packages/liferay-npm-scripts/src/scripts/format.js
  packages/liferay-npm-scripts/src/scripts/storybook.js
  packages/liferay-npm-scripts/src/scripts/webpack.js
  packages/liferay-npm-scripts/src/storybook/config.js
  packages/liferay-npm-scripts/src/storybook/index.js
  packages/liferay-npm-scripts/src/storybook/middleware.js
  packages/liferay-npm-scripts/src/utils/deepMerge.js
  packages/liferay-npm-scripts/src/utils/expandGlobs.js
  packages/liferay-npm-scripts/src/utils/generateSoyDependencies.js
  packages/liferay-npm-scripts/src/utils/getMergedConfig.js
  packages/liferay-npm-scripts/src/utils/getUserConfig.js
  packages/liferay-npm-scripts/src/utils/soy.js
  packages/liferay-npm-scripts/src/utils/withBabelConfig.js
  packages/liferay-npm-scripts/test/format/Lexer.js
  packages/liferay-npm-scripts/test/format/formatJSP.js
  packages/liferay-npm-scripts/test/format/lex.js
  packages/liferay-npm-scripts/test/format/substituteTags.js
  packages/liferay-npm-scripts/test/utils/expandGlobs.js
  packages/liferay-npm-scripts/test/utils/spawnMultiple.js
  packages/liferay-npm-scripts/test/utils/spawnSync.js
  yarn.lock
Labels: feature, liferay-npm-scripts

#294 chore: update eslint from 6.1.0 to 6.5.1
  package.json
  packages/liferay-npm-scripts/package.json
  yarn.lock
Labels: chore, liferay-npm-scripts

#295 feat(scripts)!: update eslint-config-liferay to v12.0.0
  package.json
  packages/liferay-npm-scripts/package.json
  yarn.lock
Labels: feature, liferay-npm-scripts

#296 chore(scripts)! update eslint-config-liferay to v13.0.0
  .eslintrc.js
  .eslintrc.json
  package.json
  packages/liferay-npm-scripts/package.json
  yarn.lock
Labels: chore, liferay-npm-scripts

#297 feat: prevent accidental use of top-level `yarn version`
  package.json
Labels: feature

#299 refactor: simplify mock setup
  packages/liferay-jest-junit-reporter/test/index.js
  packages/liferay-npm-scripts/test/scripts/format.js
  packages/liferay-npm-scripts/test/scripts/theme.js
  packages/liferay-npm-scripts/test/scripts/webpack.js
  packages/liferay-npm-scripts/test/utils/spawnMultiple.js
Labels: liferay-jest-junit-reporter, liferay-npm-scripts, refactor
