Repository liferay/liferay-npm-tools, pull requests merged in 2019-08, with the labels that each got.

#187 chore: update dependencies
  package.json
  packages/liferay-npm-scripts/package.json
  packages/liferay-npm-scripts/src/utils/getMergedConfig.js
  yarn.lock
Labels: chore, liferay-npm-scripts

#113 feat: add "storybook" command (#94)
  packages/liferay-npm-scripts/package.json
  packages/liferay-npm-scripts/src/config/jest.config.js
  packages/liferay-npm-scripts/src/index.js
  packages/liferay-npm-scripts/src/presets/standard/index.js
  packages/liferay-npm-scripts/src/scripts/storybook.js
  packages/liferay-npm-scripts/src/storybook/README.md
  packages/liferay-npm-scripts/src/storybook/addons.js
  packages/liferay-npm-scripts/src/storybook/config.js
  packages/liferay-npm-scripts/src/storybook/frontend-js-web.mock.js
  packages/liferay-npm-scripts/src/storybook/index.js
  packages/liferay-npm-scripts/src/storybook/middleware.js
  packages/liferay-npm-scripts/src/storybook/preview-head.html
  packages/liferay-npm-scripts/src/storybook/webpack.config.js
  yarn.lock
Labels: feature, liferay-npm-scripts

#188 fix: make babel-jest dependency explicit
  packages/liferay-npm-scripts/package.json
  yarn.lock
Labels: bug, liferay-npm-scripts

#192 fix: make generateSoyDependencies() work with lone dependencies
  packages/liferay-npm-scripts/src/utils/generateSoyDependencies.js
Labels: bug, liferay-npm-scripts

#193 chore(scripts): update liferay-npm-bundler-preset-liferay-dev dependency
  packages/liferay-npm-scripts/package.json
Labels: chore, liferay-npm-scripts

#194 chore!: update eslint-config-liferay to v5.0.0
  package.json
  packages/liferay-npm-scripts/package.json
  yarn.lock
Labels: chore, liferay-npm-scripts

#196 chore: update liferay-npm-bundler-preset-liferay-dev dependencies
  packages/liferay-npm-bundler-preset-liferay-dev/package.json
  yarn.lock
Labels: chore, liferay-npm-bundler-preset-liferay-dev

#197 chore: update liferay-npm-scripts dependencies
  package.json
  packages/liferay-npm-scripts/package.json
  yarn.lock
Labels: chore, liferay-npm-scripts

#198 feat: force the use of a "test" NODE_ENV when running jest
  packages/liferay-npm-scripts/src/scripts/test.js
  packages/liferay-npm-scripts/src/utils/log.js
  packages/liferay-npm-scripts/src/utils/setEnv.js
Labels: feature, liferay-npm-scripts

#199 fix: update/remove bad links and add missing links in package.json files
  packages/liferay-jest-junit-reporter/package.json
  packages/liferay-npm-bundler-preset-liferay-dev/package.json
  packages/liferay-npm-scripts/package.json
Labels: bug, liferay-jest-junit-reporter, liferay-npm-bundler-preset-liferay-dev, liferay-npm-scripts

#200 feat(reporter): include module name at end of classname (#136)
  packages/liferay-jest-junit-reporter/src/index.js
  packages/liferay-jest-junit-reporter/test/__snapshots__/index.js.snap
  packages/liferay-jest-junit-reporter/test/index.js
Labels: feature, liferay-jest-junit-reporter

#202 feat(preset): add "/" import config for frontend-js-react-web
  packages/liferay-npm-bundler-preset-liferay-dev/config.json
Labels: feature, liferay-npm-bundler-preset-liferay-dev

#203 chore(scripts): update liferay-npm-bundler-preset-liferay-dev dep
  packages/liferay-npm-scripts/package.json
  yarn.lock
Labels: chore, liferay-npm-scripts

#204 feat: configure Semantic Pull Requests bot
  .github/semantic.yml
Labels: feature

#208 chore!: update to eslint-config-liferay v8.0.0
  package.json
  packages/liferay-npm-scripts/package.json
  yarn.lock
Labels: chore, liferay-npm-scripts

#209 feat: make failed publishes more obvious
  publish.js
Labels: feature

#210 fix: search up as high as liferay-portal "root" for user config
  packages/liferay-npm-scripts/src/utils/getMergedConfig.js
  packages/liferay-npm-scripts/src/utils/getUserConfig.js
Labels: feature, liferay-npm-scripts
