Repository liferay/liferay-npm-tools, pull requests merged in 2019-05, with the labels that each got.

#79 feat: add "wepback" subcommand to liferay-npm-scripts
  packages/liferay-npm-scripts/__fixtures__/scripts/webpack/sample/webpack.config.dev.js
  packages/liferay-npm-scripts/__tests__/scripts/webpack.js
  packages/liferay-npm-scripts/package.json
  packages/liferay-npm-scripts/src/index.js
  packages/liferay-npm-scripts/src/scripts/build.js
  packages/liferay-npm-scripts/src/scripts/webpack.js
  yarn.lock
Labels: liferay-npm-scripts

#80 feat: add class-properties and object-rest-spread support
  packages/liferay-npm-scripts/package.json
  packages/liferay-npm-scripts/src/config/babel.json
  yarn.lock
Labels: enhancement

#81 feat: provide standard version of babel-loader
  packages/liferay-npm-scripts/package.json
  yarn.lock
Labels: enhancement, liferay-npm-scripts

#76 feat: add "preset" functionality for npm-scripts config
  packages/liferay-npm-scripts/README.md
  packages/liferay-npm-scripts/example/eject/after/.babelrc
  packages/liferay-npm-scripts/example/eject/after/.npmbundlerrc
  packages/liferay-npm-scripts/example/eject/after/package.json
  packages/liferay-npm-scripts/example/eject/before/.liferaynpmscriptsrc
  packages/liferay-npm-scripts/example/eject/before/package.json
  packages/liferay-npm-scripts/package.json
  packages/liferay-npm-scripts/src/config/liferay-npm-scripts-build-deps-clay.json
  packages/liferay-npm-scripts/src/config/liferay-npm-scripts-build-deps-liferay.json
  packages/liferay-npm-scripts/src/config/liferay-npm-scripts-build-deps-metal.json
  packages/liferay-npm-scripts/src/config/liferay-npm-scripts.json
  packages/liferay-npm-scripts/src/config/npmscripts.config.js
  packages/liferay-npm-scripts/src/index.js
  packages/liferay-npm-scripts/src/presets/standard/dependencies/clay.js
  packages/liferay-npm-scripts/src/presets/standard/dependencies/liferay.js
  packages/liferay-npm-scripts/src/presets/standard/dependencies/metal.js
  packages/liferay-npm-scripts/src/presets/standard/index.js
  packages/liferay-npm-scripts/src/scripts/build.js
  packages/liferay-npm-scripts/src/scripts/eject.js
  packages/liferay-npm-scripts/src/utils/deep-merge.js
  packages/liferay-npm-scripts/src/utils/get-merged-config.js
  packages/liferay-npm-scripts/src/utils/get-user-config.js
  packages/liferay-npm-scripts/src/utils/validateConfig.js
  yarn.lock
Labels: liferay-npm-scripts

#82 feat: always clean up temporary Babel config files, and make webpack builds use them as well
  packages/liferay-npm-scripts/src/scripts/build.js
  packages/liferay-npm-scripts/src/scripts/test.js
  packages/liferay-npm-scripts/src/scripts/webpack.js
  packages/liferay-npm-scripts/src/utils/with-babel-config.js
Labels: enhancement

#84 feat: add Babel merge strategy to get-merged-config.js
  packages/liferay-npm-scripts/__tests__/utils/deep-merge.js
  packages/liferay-npm-scripts/src/config/babel.json
  packages/liferay-npm-scripts/src/utils/deep-merge.js
  packages/liferay-npm-scripts/src/utils/get-merged-config.js
Labels: enhancement, liferay-npm-scripts

#85 fix: recover original .npmbundlerrc after failures (#71)
  packages/liferay-npm-scripts/src/scripts/build.js
Labels: bug, liferay-npm-scripts

#87 fix: run weback during builds using shared utility
  packages/liferay-npm-scripts/src/scripts/build.js
Labels: bug, liferay-npm-scripts

#90 feat: enforce canonical preset and plugin names (#89)
  packages/liferay-npm-scripts/__tests__/utils/deep-merge.js
  packages/liferay-npm-scripts/src/utils/deep-merge.js
Labels: feature, liferay-npm-scripts

#91 feat: set NODE_ENV only for builds (#88)
  packages/liferay-npm-scripts/src/index.js
  packages/liferay-npm-scripts/src/scripts/build.js
  packages/liferay-npm-scripts/src/scripts/test.js
  packages/liferay-npm-scripts/src/utils/set-env.js
Labels: feature, liferay-npm-scripts

#92 refactor: teach getMergedConfig() and index to reject invalid types
  packages/liferay-npm-scripts/__tests__/index.js
  packages/liferay-npm-scripts/__tests__/utils/get-merged-config.js
  packages/liferay-npm-scripts/src/index.js
  packages/liferay-npm-scripts/src/utils/get-merged-config.js
Labels: liferay-npm-scripts, refactor
