Repository liferay/liferay-npm-tools, pull requests merged in 2019-09, with the labels that each got.

#215 fix: swap order of "fix" script ("format" then "lint:fix")
  packages/liferay-npm-scripts/src/scripts/fix.js
Labels: bug, liferay-npm-scripts

#223 chore: remove redundant .prettierrc
  packages/liferay-npm-scripts/.prettierrc
Labels: chore, liferay-npm-scripts

#222 feat: add liferay-changelog-generator
  packages/liferay-changelog-generator/.yarnrc
  packages/liferay-changelog-generator/README.md
  packages/liferay-changelog-generator/bin/liferay-changelog-generator.js
  packages/liferay-changelog-generator/package.json
  packages/liferay-changelog-generator/src/index.js
Labels: feature, liferay-changelog-generator

#225 chore(scripts): correct license type in liferay-npm-scripts package.json
  packages/liferay-npm-scripts/package.json
Labels: chore, liferay-npm-scripts

#228 feat(changelog-generator): add short options
  packages/liferay-changelog-generator/src/index.js
Labels: feature, liferay-changelog-generator

#229 docs: add liferay-changelog-generator link to CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation

#230 feat: make changelog output identical to Prettier
  packages/liferay-changelog-generator/src/index.js
Labels: feature, liferay-changelog-generator

#246 fix: don't let signals leave stale files lying around (#242)
  packages/liferay-npm-scripts/src/utils/spawnSync.js
Labels: bug, liferay-npm-scripts

#243 fix: don't choke on stale .babelrc files (#242)
  packages/liferay-npm-scripts/src/utils/deepMerge.js
  packages/liferay-npm-scripts/test/utils/deepMerge.js
Labels: bug, liferay-npm-scripts

#245 feat: add SignalHandler for managing cleanup
  packages/liferay-npm-scripts/src/scripts/build.js
  packages/liferay-npm-scripts/src/scripts/test.js
  packages/liferay-npm-scripts/src/utils/SignalHandler.js
  packages/liferay-npm-scripts/src/utils/withBabelConfig.js
Labels: feature, liferay-npm-scripts

#248 feat: format JS in JSP files using Prettier
  .gitattributes
  packages/liferay-changelog-generator/src/index.js
  packages/liferay-npm-scripts/__fixtures__/format/configuration.jsp
  packages/liferay-npm-scripts/__fixtures__/format/edit_content_redirect.jsp
  packages/liferay-npm-scripts/__fixtures__/format/edit_template_display.jspf
  packages/liferay-npm-scripts/__fixtures__/format/page.jsp
  packages/liferay-npm-scripts/__fixtures__/format/recaptcha.jsp
  packages/liferay-npm-scripts/__fixtures__/format/roles.jsp
  packages/liferay-npm-scripts/__fixtures__/format/view.jsp
  packages/liferay-npm-scripts/__fixtures__/format/view_calendar_menus.jspf
  packages/liferay-npm-scripts/__fixtures__/format/view_meeting.jsp
  packages/liferay-npm-scripts/src/format/Lexer.js
  packages/liferay-npm-scripts/src/format/ReversibleMap.js
  packages/liferay-npm-scripts/src/format/dedent.js
  packages/liferay-npm-scripts/src/format/extractJS.js
  packages/liferay-npm-scripts/src/format/formatJSP.js
  packages/liferay-npm-scripts/src/format/getPaddedReplacement.js
  packages/liferay-npm-scripts/src/format/indent.js
  packages/liferay-npm-scripts/src/format/index.js
  packages/liferay-npm-scripts/src/format/lex.js
  packages/liferay-npm-scripts/src/format/padLines.js
  packages/liferay-npm-scripts/src/format/restoreTags.js
  packages/liferay-npm-scripts/src/format/stripIndents.js
  packages/liferay-npm-scripts/src/format/substituteTags.js
  packages/liferay-npm-scripts/src/format/tagReplacements.js
  packages/liferay-npm-scripts/src/format/toFiller.js
  packages/liferay-npm-scripts/src/index.js
  packages/liferay-npm-scripts/src/jest/transformBabel.js
  packages/liferay-npm-scripts/src/scripts/format.js
  packages/liferay-npm-scripts/src/scripts/storybook.js
  packages/liferay-npm-scripts/src/storybook/middleware.js
  packages/liferay-npm-scripts/src/utils/getJestModuleNameMapper.js
  packages/liferay-npm-scripts/src/utils/moveToTemp.js
  packages/liferay-npm-scripts/src/utils/permute.js
  packages/liferay-npm-scripts/src/utils/preprocessGlob.js
  packages/liferay-npm-scripts/src/utils/readIgnoreFile.js
  packages/liferay-npm-scripts/src/utils/removeFromTemp.js
  packages/liferay-npm-scripts/support/dedent.js
  packages/liferay-npm-scripts/support/getFixture.js
  packages/liferay-npm-scripts/test/format/Lexer.js
  packages/liferay-npm-scripts/test/format/ReversibleMap.js
  packages/liferay-npm-scripts/test/format/__snapshots__/formatJSP.js.snap
  packages/liferay-npm-scripts/test/format/__snapshots__/lex.js.snap
  packages/liferay-npm-scripts/test/format/__snapshots__/substituteTags.js.snap
  packages/liferay-npm-scripts/test/format/dedent.js
  packages/liferay-npm-scripts/test/format/extractJS.js
  packages/liferay-npm-scripts/test/format/formatJSP.js
  packages/liferay-npm-scripts/test/format/getPaddedReplacement.js
  packages/liferay-npm-scripts/test/format/indent.js
  packages/liferay-npm-scripts/test/format/lex.js
  packages/liferay-npm-scripts/test/format/padLines.js
  packages/liferay-npm-scripts/test/format/restoreTags.js
  packages/liferay-npm-scripts/test/format/stripIndents.js
  packages/liferay-npm-scripts/test/format/substituteTags.js
  packages/liferay-npm-scripts/test/format/tagReplacements.js
  packages/liferay-npm-scripts/test/format/toFiller.js
  packages/liferay-npm-scripts/test/utils/permute.js
Labels: feature, liferay-npm-scripts

#247 feat: allow for compound patterns in extensions in globs
  packages/liferay-npm-scripts/src/scripts/format.js
  packages/liferay-npm-scripts/src/scripts/lint.js
  packages/liferay-npm-scripts/src/utils/getPaths.js
Labels: feature, liferay-npm-scripts

#249 refactor: use getPaths() to eliminate repetition
  packages/liferay-npm-scripts/src/format/index.js
Labels: liferay-npm-scripts, refactor

#250 refactor: implement improvements from JSP formatting review
  packages/liferay-npm-scripts/src/format/Lexer.js
  packages/liferay-npm-scripts/src/format/README.md
  packages/liferay-npm-scripts/src/format/ReversibleMap.js
  packages/liferay-npm-scripts/src/format/dedent.js
  packages/liferay-npm-scripts/src/format/formatJSP.js
  packages/liferay-npm-scripts/src/format/index.js
  packages/liferay-npm-scripts/src/format/restoreTags.js
  packages/liferay-npm-scripts/src/format/tagReplacements.js
  packages/liferay-npm-scripts/src/format/trim.js
  packages/liferay-npm-scripts/test/format/ReversibleMap.js
  packages/liferay-npm-scripts/test/format/dedent.js
  packages/liferay-npm-scripts/test/format/formatJSP.js
  packages/liferay-npm-scripts/test/format/stripIndents.js
  packages/liferay-npm-scripts/test/format/trim.js
Labels: liferay-npm-scripts, refactor

#251 feat: point JS Toolkit to v2.13.1
  packages/liferay-npm-bundler-preset-liferay-dev/package.json
  packages/liferay-npm-scripts/package.json
  yarn.lock
Labels: feature, liferay-npm-bundler-preset-liferay-dev, liferay-npm-scripts

#254 fix: correct bad homepage links in package.json files
  packages/liferay-changelog-generator/package.json
  packages/liferay-jest-junit-reporter/package.json
  packages/liferay-npm-bundler-preset-liferay-dev/package.json
  packages/liferay-npm-scripts/package.json
Labels: bug, liferay-changelog-generator, liferay-jest-junit-reporter, liferay-npm-bundler-preset-liferay-dev, liferay-npm-scripts

#256 docs: add notes on cutting preview releases to CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation

#264 fix: make release commit messages satisfy Semantic Pull Requests bot
  packages/liferay-changelog-generator/.yarnrc
  packages/liferay-jest-junit-reporter/.yarnrc
  packages/liferay-npm-bundler-preset-liferay-dev/.yarnrc
  packages/liferay-npm-scripts/.yarnrc
Labels: chore

#271 fix(publish): loosen upstream remote regex
  packages/liferay-js-publish/src/index.js
Labels: bug, liferay-js-publish

#274 docs(scripts): fix a typo in a code comment
  packages/liferay-npm-scripts/src/utils/validateConfig.js
Labels: documentation, liferay-npm-scripts

#275 chore(scripts): update liferay-npm-bundler-preset-liferay-dev dep
  packages/liferay-npm-scripts/package.json
Labels: chore, liferay-npm-scripts

#276 feat: add reminder to publish liferay-npm-scripts
  packages/liferay-jest-junit-reporter/package.json
  packages/liferay-npm-bundler-preset-liferay-dev/package.json
Labels: feature, liferay-jest-junit-reporter, liferay-npm-bundler-preset-liferay-dev

#278 feat(scripts): substitute goog.getMsg() calls in soy files (#277)
  packages/liferay-npm-scripts/package.json
  packages/liferay-npm-scripts/src/scripts/build.js
  packages/liferay-npm-scripts/src/utils/soy.js
Labels: liferay-npm-scripts
